.vh-full {
  height: 100vh; /* Fallback */
  height: calc(var(--vh, 1vh) * 100);
}

.max-vh-full {
  max-height: 100vh; /* Fallback */
  max-height: calc(var(--vh, 1vh) * 100);
}

.min-vh-full {
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
}
